.activities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px;
    margin:5%;
}
.activities-title{
    margin: 5%;
}
@media screen and (max-width: 992px) {
    .activities{
        grid-template-columns: 1fr;
    }
}